<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
  <link rel="stylesheet" href="css/tailwind.css">
  <link rel="stylesheet" type="text/css" href="css/jquery.growl.css">
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/jquery.growl.js"></script>
</head>
<body>
  
  <header class="w-full bg-[#F5830B]  shadow-md h-16 sm:flex-row flex justify-center items-center justify-evenly ">
    
    <div>
      <button class="col-span-2 bg-neutral-950 rounded-full p-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fafafa" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
        </svg>
      </button>
    </div>

    <nav class="flex justify-evenly w-1/6 items-center justify-center ">

      <a href="#" class="font-semibold px-3" id="categorys">Categorias</a>
      <a href="#" class="font-semibold px-3" id="highlightLink">Destacados</a>
    </nav>

     <div>
      <button class="col-span-2 rounded-lg p-1 my-1">
        <!-- Icono de salida -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="30" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
          <path d="M9 12h12l-3 -3" />
          <path d="M18 15l3 -3" />
        </svg>
      </button>
     </div>
  </header>

  <section id="Productos" class="h-[100vh] w-[100vw] p-3 bg-neutral-800" data-origin="productos">
    <div class="grid grid-cols-12 ">
      <button id="btnCreateProduct" class="bg-neutral-100 border rounded-md p-2 m-4 hover:text-white hover:bg-neutral-500 col-span-2 w-ful">Crear Producto</button>
      <div class="relative m-4 col-span-10">
        <div class="absolute pointer-events-none pt-3">
          <svg xmlns="http://www.w3.org/2000/svg" class=" absolute icon icon-tabler icon-tabler-search" width="44" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
            <path d="M21 21l-6 -6" />
          </svg>
        </div>
        <input type="text" placeholder="Buscar producto" class="pl-10 bg-gray-200 border rounded-lg p-3 outline-none hover:ring-2 w-full">
      </div>
    </div>
    <!-- Modelo Tarjeta -->  
    <div class="flex flex-wrap gap-4">
      
      <% products.forEach(async function(product){ %>
        <%- include('templates/cardProduct', {product:product}); %>
      <% }); %>
    </div>
  </section>

  <section id="Categorias" class="h-[100vh] w-[100vw] p-3 hidden" data-origin="categorias">
    <div class="grid grid-cols-12">
      <button id="btnCategoris" class="col-span-2 bg-neutral-100 border rounded-md p-2 m-4 hover:text-white hover:bg-neutral-500 w-full">Crear Categoria</button>
      <div class="relative m-4 col-span-10">
        <div class="absolute pointer-events-none pt-3">
          <svg xmlns="http://www.w3.org/2000/svg" class=" absolute icon icon-tabler icon-tabler-search" width="44" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
            <path d="M21 21l-6 -6" />
          </svg>
        </div>
        <input type="text" placeholder="Buscar producto" class="pl-10 bg-gray-200 border rounded-lg p-3 outline-none hover:ring-2 w-full">
      </div>
    </div>
    <div class="grid grid-cols-12">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nisi voluptatum quia quo accusantium a, odio ex asperiores accusamus. Autem perferendis officia itaque alias assumenda quam totam iste nihil voluptatibus.
    </div>
  </section>

  <!-- Modal para agregar productos -->
  <div id="modal" class="fixed inset-0 bg-backdrop backdrop-filter backdrop-blur-sm z-50 flex items-center justify-center px-6 transition-colors duration-500 bg-slate-950/50 hidden ">
    <!-- Modal -->
    <div class="rounded-md shadow-2xl w-full h-auto max-w-lg border bg-gray-100 overflow-y-scroll"> 
        <!-- MOdal header -->
      <div class="grid grid-cols-12">
        <p class="col-span-11 font-semibold m-4"> Crear Producto </p>
        <span class="exitButton justify-end place-items-center left-4 top-4 hover:bg-gray-400">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </svg></span>
      </div>
      <div class="overflow-y-scroll overflow-x-scroll">

        <!-- modal content -->
        <!-- productos -->
        <div id="ModalProductos" data-modal="productos" class=" hidden">
          <div class="border-top-2 border-gray-600">
            <!-- Modal Content -->
            <form id="Productos" class="ProductosForm grid grid-cols-6 gap-1">
              <!-- Contenedor -->
              <div id="dropArea" class="border-2 border-neutral-400 hover:border-neutral-100 hover:text-white border-dashed rounded-md m-4 p-4 col-span-6 h-60 flex flex-col justify-center items-center hover:bg-gray-600 transition ease-out delay-100">
                <!-- Sin nada -->
                <div id="present" class="flex flex-col justify-center items-center">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-upload" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#597e8d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                      <path d="M7 9l5 -5l5 5" />
                      <path d="M12 4l0 12" />
                    </svg>
                  </div>
                  <label>Arrastrar aquí su archivos</label>
                  <p>o</p>
                  <label id="inputLabel" class="bg-blue-300 border rounded-md p-4 hover:bg-blue-500 transition ease-out delay-100">Seleccione sus archivos manualmente</label>
                  <input id="inputFile" type="file" class="hidden">
                </div>
  
                <div id="upload" class="flex flex-col justify-center items-center hidden">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cloud-upload" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-1" />
                    <path d="M9 15l3 -3l3 3" />
                    <path d="M12 12l0 9" />
                  </svg>
                  <label>Deje caer el archivo aquí</label>
                </div>
              </div>
  
              <div id="boxImgs" class="bg-gray-500 border rounded col-span-6 mt-0 ml-4 mr-4 p-2 flex flex-row flex-wrap gap-2 hidden">
  
              </div>
              <button id="uploadImgs" class="border rounded-md bg-blue-100">Enviar imagenes de prueba</button>
              <div class="relative m-4 col-span-3">
                <div class="absolute p-3 pointer-events-none">
                  <svg xmlns="http://www.w3.org/2000/svg" class="absolute icon icon-tabler icon-tabler-box-seam" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#597e8d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 3l8 4.5v9l-8 4.5l-8 -4.5v-9l8 -4.5" />
                    <path d="M12 12l8 -4.5" />
                    <path d="M8.2 9.8l7.6 -4.6" />
                    <path d="M12 12v9" />
                    <path d="M12 12l-8 -4.5" />
                  </svg>
                </div>
                <input type="text" name="name" placeholder="Nombre del producto" class="appearance-none w-full bg-gray-100 pl-14 p-4 text-gray-700 rounded-md border focus:ring-2 leading-tight focus:outline-none focus:shadow-outline">
              </div>
  
  
              <div class="relative m-4 col-span-3">
                <div class="absolute p-3 pointer-events-none">
                  <svg xmlns="http://www.w3.org/2000/svg" class="absolute icon icon-tabler icon-tabler-coin" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#597e8d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                    <path d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1 -1.8 -1" />
                    <path d="M12 7v10" />
                  </svg>
                </div>
                <input type="text" name="price" placeholder="Precio Unitario" class="appearance-none w-full bg-gray-100 pl-14 p-4 text-gray-700 rounded-md border focus:ring-2 leading-tight focus:outline-none focus:shadow-outline">
                <div class="errorMessage hidden text-red-500 font-semibold">El precio deben ser solo numeros</div>
              </div>
  
                <div class="relative m-4 col-span-3">
                <div class="absolute p-3 pointer-events-none">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-barcode" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#597e8d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 7v-1a2 2 0 0 1 2 -2h2" />
                    <path d="M4 17v1a2 2 0 0 0 2 2h2" />
                    <path d="M16 4h2a2 2 0 0 1 2 2v1" />
                    <path d="M16 20h2a2 2 0 0 0 2 -2v-1" />
                    <path d="M5 11h1v2h-1z" />
                    <path d="M10 11l0 2" />
                    <path d="M14 11h1v2h-1z" />
                    <path d="M19 11l0 2" />
                  </svg>
                </div>
                <input type="text" name="code" placeholder="Codigo" class="appearance-none w-full bg-gray-100 pl-14 p-4 text-gray-700 rounded-md border focus:ring-2 leading-tight focus:outline-none focus:shadow-outline">
              </div>
  
              <div class=" m-4 col-span-3">
                <select class="bg-gray-100 p-4 border w-full rounded-md text-gray-700">
                  <option value="0">Seleccione una opcion...</option>
                </select>
              </div>
            </form>
          </div>

          
        </div>
        <!-- categorias -->
        <div id="ModalCategorys" data-modal="categorias" class="hidden">
          <div>
            <form class="grid grid-cols-6 gap-1">
              
              <div class="relative m-4 col-span-6">
                <div class="absolute p-3 pointer-events-none">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-category" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#597e8d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 4h6v6h-6z" />
                    <path d="M14 4h6v6h-6z" />
                    <path d="M4 14h6v6h-6z" />
                    <path d="M17 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                  </svg>
                </div>
                <input type="text" name="name" placeholder="Categoria" class="appearance-none w-full bg-gray-100 pl-14 p-4 text-gray-700 rounded-md border focus:ring-2 leading-tight focus:outline-none focus:shadow-outline">
              </div>

            </form>
          </div>
        </div>
      </div>

      <div class="flex justify-end m-4">
        <button class="border px-6 py-2 m-1 bg-neutral-300 hover:bg-neutral-400 rounded-md">Cerrar</button>
        <button id="save" class="border px-6 py-2 m-1 bg-lime-500 hover:bg-lime-600 text-white rounded-md">Guardar</button>
      </div>
    </div>
  </div>  
  
  <script src="js/home.js"></script>
</body>
</html>