<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mi aplicación</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="css/index.css"> -->
  <link rel="stylesheet" href="css/tailwind.css">
</head>
<body class="grid grid-cols-12">
  <header class="col-span-12">
    <nav class="w-full h-auto p-5 bg-slate-900 text-white flex items-center justify-evenly">
      <a href="#">Inicio</a>
      <a href="/login">Login</a>
    </nav>
  </header>

  <section class="bg-slate-400 col-span-12 h-96">
    <img class="object-scale-down" src="./img/2.jpg">
    <!-- <p class="absolute top-20 left-0 text-white text-center text-9xl">Suplementos deportivos...</p> -->
  </section>

  <section class="bg-neutral-600 col-span-8">
    <img class="object-fill" src="#">
  </section>

  <section class="bg-gray-400 col-span-4">
    <img class="object-fill" src="./img/3.jpg">
  </section>
</body>
</html>