<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mi aplicación</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>

  <section class="container">
    <h1>Jesús Rojas</h1>
    <p>30.160.347</p>
    <p>Sección 1</p>
  </section>
</body>
</html>