:root {
	--aquamarine-50: #f0fdf9;
	--aquamarine-100: #ccfbee;
	--aquamarine-200: #98f7df;
	--aquamarine-300: #4ee9c8;
	--aquamarine-400: #2cd5b7;
	--aquamarine-500: #13b99e;
	--aquamarine-600: #0c9581;
	--aquamarine-700: #0e7769;
	--aquamarine-800: #115e55;
	--aquamarine-900: #134e47;
	--aquamarine-950: #042f2c;

	--mountain-mist-50: #f8f8f8;
	--mountain-mist-100: #f1efef;
	--mountain-mist-200: #e5e3e3;
	--mountain-mist-300: #d2cfcf;
	--mountain-mist-400: #b7b2b2;
	--mountain-mist-500: #9f9999;
	--mountain-mist-600: #847e7e;
	--mountain-mist-700: #6d6868;
	--mountain-mist-800: #5c5858;
	--mountain-mist-900: #504c4c;
	--mountain-mist-950: #292626;


}
