.circle-btn {
  position: absolute;
  /*top: 0;
  left: 0;*/
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #007BFF; /* Puedes cambiar el color según tus preferencias */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2; /* Asegura que el botón esté encima de la imagen */
  text-align: center;
  color: #ffffff;
}