<div class="bg-white rounded-md shadow w-48 text-center border border-gray-300" data-id="<%= product.id%>">
    <!-- Imagen del producto -->

    <% if (product.images.length > 0) {%>
        <img src="/uploads/<%= product.images[0].filename%>" alt="Product Image" class="mb-2 rounded-md w-full h-25 object-cover" loading="lazy">
    <% } else { %>
        <img src="/img/default-image.png" alt="Product Image Default" class="mb-2 rounded-md w-full h-25 object-cover" loading="lazy">
    <% } %>

    <!-- Nombre del producto -->
    <h2 class="text-md font-semibold mb-2 mt-2"><%=product.name%></h2>

    <!-- Precio y Stock -->
    <div class="mb-2 text-sm mb-2 mt-2">
        <p class="text-gray-600">Precio: <%=product.price%>$</p>
        <!-- <p class="text-gray-600">Stock: 10 unidades</p> -->
    </div>

    <!-- Botón con Tooltip -->
    <div class="relative inline-block mb-2">
        <button id="productOptions" class="bg-sky-500 text-white py-2 px-4 rounded ">
            Opciones
        </button>
        <div class="absolute hidden bg-white p-2 rounded-md shadow-md mt-2 text-left border border-gray-300">
            <!-- Opciones de la Tooltip -->
            <button id="viewProduct" class="flex items-center space-x-2 hover:bg-blue-700">
                Ver
            </button>
            <button id="editProduct" class="flex items-center space-x-2">
                Editar
            </button>
            <button id="deleteProduct" class="flex items-center space-x-2">
                Eliminar
            </button>
        </div>
    </div>
</div>