<tr class="border-t">
  <td title="<%= category.name %>"><%= category.name %></td>
  <td></td>
  <td class="flex justify-center items-center gap-4 text-white">
    <button class="btn btn-warning">Eliminar</button>
    <button class="btn btn-save">Editar</button>
  </td>
</tr>